<article class="chirp">
    <div class="titlebar">
        <a href="#/user/profile/{{author}}" class="chirp-author">{{author}}</a>
        <span class="chirp-time">{{time}}</span>
    </div>
    <p>{{text}}</p>
</article>