<article class="chirp">
    <div class="titlebar">
        <a class="chirp-author">{{author}}</a>
        <span class="chirp-time"><a href="#/chirp/delete/{{_id}}">delete</a> {{time}} ago</span>
    </div>
    <p>{{text}}</p>
</article>